<form>
  <div class="form-group">
    <label>{{localize 'Which group rolled the highest Initiative?'}}</label>
    <select name="faction">
      {{selectOptions factions selected=selected valueAttr="value" labelAttr="translation"}}
    </select>
  </div>
</form>